@font-face {
  font-family: pokemon-one;
  src: url("Pokemon_Solid.ttf");
}

body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: pokemon-one;
  
}
main {
  display: flex;
  flex-flow: row;
  width: 100%;
  text-align: center;
}

.container {
  width: 50%;
  text-align: center;
}

@media (max-width: 700px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 100px;
  }
  .container {
    width: 100%;
    
  }

  #pokemon-name {
    margin-top: 100px;
  }
}
