input {
    width: 50%;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
  }

  @media (max-width: 700px) {
    input {
      font-size: 15px;
    }
  }