#streak {
    font-size: 7vh;
    font-weight: strong;
    -webkit-text-stroke: 3px #ffffff;
  }

  @media (max-width: 700px) {
    #streak {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }